body {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
h1,
p,
a {
  font-family: "Caveat", cursive;
  text-align: center;
  color: white;
}

p {
  font-size: 24px;
  display: block;
  margin: 30px;
}

a {
  text-decoration: none;
}
